<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Life Line</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading text-center panel-relative">
                        <a th:href="@{/lifeline}"><i
                                class="glyphicon glyphicon-arrow-left pull-left blue"></i></a>
                        <strong>Lifeline - Edit</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div th:if="${save eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Record Not Updated.
                                    </div>
                                </div>
                                <div th:if="${save eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Record Updated Successfully.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form class="form-horizontal" method="post" th:object="${lifeLine}"
                                      th:action="@{/lifeline/update}"
                                      role="form" name="properties_form"
                                      id="properties_form">

                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="hidden" class="form-control" id="inputId"
                                                   name="inputId"
                                                   th:field="*{id}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fromKwhUsed"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">
                                            Effectivity Date</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <input type="text" class="form-control" id="fromKwhUsed"
                                                   name="fromKwhUsed" th:field="*{fromKwhUsed}"
                                                   placeholder="0"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="toKwhUsed"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">
                                            Effectivity Date</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <input type="text" class="form-control" id="toKwhUsed"
                                                   name="toKwhUsed" th:field="*{toKwhUsed}"
                                                   placeholder="0"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fromKwhUsed"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">
                                            Effectivity Date</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <input type="text" class="form-control" id="discountRate"
                                                   name="discountRate" th:field="*{discountRate}"
                                                   placeholder="0.0000"/>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success pull-right">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>