<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout">
<head>
    <title>Activation Codes</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Activation Codes - Add </strong></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div th:if="${save eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Activation code already exist.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form class="form-horizontal" th:object="${activationCode}"
                                      th:action="@{/activation-code/create}"
                                      method="post">
                                    <div class="form-group">
                                        <label for="activationCode"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Activation
                                            Code</label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <input type="text" class="form-control" id="activationCode"
                                                   name="activationCode"
                                                   th:field="*{activationCode}"
                                                   placeholder="Activation Code" readonly="readonly" maxlength="6"/>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <button type="button" id="generateCode"
                                                    class="btn btn-primary pull-right">Generate Code
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="idRdm"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">RDM</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <select class="form-control" th:field="*{idRdm}" id="idRdm">
                                                <option th:each="rdm: ${rdmlists}"
                                                        th:value="${rdm.id}"
                                                        th:text="${rdm.rdmName}"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="assignedTo"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Reader</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <select class="form-control" th:field="*{assignedTo}" id="assignedTo">
                                                <option th:each="reader: ${readerslist}"
                                                        th:value="${reader.readersName}"
                                                        th:text="${reader.readersName}"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="masterKey"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Master
                                            Key</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <input type="text" class="form-control" id="masterKey" name="masterKey"
                                                   th:field="*{masterKey}"
                                                   placeholder="Master Key"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success">Save</button>
                                            <a href="/activation-code" class="btn btn-primary pull-right">Back</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>