<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>DU Properties</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading text-center panel-relative">
                        <a th:href="@{/activation-code}"><i class="glyphicon glyphicon-arrow-left pull-left blue"></i></a>
                        <strong>Activation Codes - Edit </strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div th:if="${save eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Record Not Updated.
                                    </div>
                                </div>
                                <div th:if="${save eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Record Updated Successfully.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form class="form-horizontal" method="post" th:object="${activationCode}"
                                      th:action="@{/activation-code/update}"
                                      role="form" name="properties_form"
                                      id="properties_form">

                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="hidden" class="form-control" id="inputId"
                                                   name="inputId"
                                                   th:field="*{id}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="activationCode"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Activation
                                            Code</label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <input type="text" class="form-control" id="activationCode"
                                                   name="activationCode"
                                                   th:field="*{activationCode}"
                                                   placeholder="Activation Code"/>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <button type="button" id="generateCode"
                                                    class="btn btn-primary pull-right">Generate Code
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="idRdm"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">RDM</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <select class="form-control" th:field="*{idRdm}" id="idRdm">
                                                <option th:each="rdm: ${rdmlists}"
                                                        th:value="${rdm.id}"
                                                        th:text="${rdm.rdmName}"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="assignedTo"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Reader</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <select class="form-control" th:field="*{assignedTo}" id="assignedTo">
                                                <option th:each="reader: ${readerslist}"
                                                        th:value="${reader.readersName}"
                                                        th:text="${reader.readersName}"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="activationCode"
                                               class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Master
                                            Key</label>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <input type="text" class="form-control" id="masterKey"
                                                   th:field="*{masterKey}"
                                                   placeholder="Activation Code"/>
                                        </div>
                                    </div>
                                    <input type="hidden" class="form-control" id="isActive"
                                           th:field="*{isActive}"/>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-success pull-right">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>