<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Per Kw Charge Template</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading text-center panel-relative">
                        <a th:href="@{/perkwchargetemplate}"><i
                                class="glyphicon glyphicon-arrow-left pull-left blue"></i></a>
                        <strong>Per Kw Charge Template - Edit</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div th:if="${save eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Record Not Updated.
                                    </div>
                                </div>
                                <div th:if="${save eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Record Updated Successfully.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form class="form-horizontal" th:object="${perKwChargeTemplateLists}"
                                      th:action="@{/perkwchargetemplate/update}"
                                      method="post">

                                    <input type="hidden" class="form-control" th:field="*{id}"
                                           id="id" name="id" readonly="readonly"/>

                                    <div class="form-group">
                                        <label for="printOrder" class="col-sm-4 control-label">Print Order</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control"
                                                   th:field="*{printOrder}"
                                                   id="printOrder" name="printOrder"
                                                   placeholder="Print Order" readonly="readonly"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="chargeType" class="col-sm-4 control-label">Charge Type</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <select class="form-control" th:field="*{chargeType}" id="chargeType">
                                                <option value="DSM CHARGES">DSM CHARGES</option>
                                                <option value="GOVT CHARGES">GOVT CHARGES</option>
                                                <option value="GT CHARGES">GT CHARGES</option>
                                                <option value="OTHER CHARGES">OTHER CHARGES</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="perKwRateName" class="col-sm-4 control-label">Rate Name</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" th:field="*{perKwRateName}"
                                                   id="perKwRateName" name="perKwRateName"
                                                   placeholder="Rate Name"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="perKwRateLongName" class="col-sm-4 control-label">Rate Long
                                            Name</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" th:field="*{perKwRateLongName}"
                                                   id="perKwRateLongName" name="perKwRateLongName"
                                                   placeholder="Rate Long Name"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fixedAddtl" class="col-sm-4 control-label">Fixed Addtl.</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control text-right" th:field="*{fixedAddtl}"
                                                   id="fixedAddtl"
                                                   placeholder="0.0000"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="atl" class="col-sm-4 control-label">Adj to Lifeline</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control text-right"
                                                   th:field="*{adjToLifeline}"
                                                   id="atl"
                                                   placeholder="Adj to Lifeline"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ats" class="col-sm-4 control-label">Adj to SC</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control text-right"
                                                   th:field="*{adjToSc}"
                                                   id="ats"
                                                   placeholder="Adj to SC"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="totalAmount" class="col-sm-4 control-label">Total Amount</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control text-right" th:field="*{totalAmount}"
                                                   id="totalAmount" name="totalAmount"
                                                   placeholder="0.0000"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="isSubToLifeline"
                                               class="col-sm-4 control-label">Is Sub to Lifeline</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <select class="form-control" th:field="*{isSubToLifeLine}"
                                                    id="isSubToLifeline">
                                                <option th:value="'Y'">Yes</option>
                                                <option th:value="'N'">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="isSubToSurCharge"
                                               class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Is Sub To
                                            Surcharge</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <select class="form-control text-right" th:field="*{isSubToSurCharge}"
                                                    id="isSubToSurCharge">
                                                <option th:value="'Y'">Yes</option>
                                                <option th:value="'N'">No</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success pull-right">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>