<!DOCTYPE html>
<html>
<head>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kuryentxt</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="false" aria-expanded="false">Masterlist Management <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu  dropdown-menu-left">
                        <li><a href="/accounts">Accounts</a></li>
                        <li><a href="/activation-code">Activation Codes</a></li>
                        <li><a href="/du-area">Area</a></li>
                        <li><a href="/cut-off">Cut-off</a></li>
                        <li><a href="/readers">Meter Readers</a></li>
                        <li><a href="/properties">Properties</a></li>
                        <li><a href="/rdm">RDM</a></li>
                        <li><a href="/remarks">Remarks</a></li>
                        <!--<li role="separator" class="divider"></li>
                       <li class="dropdown-header">Accounts</li>-->
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        role="button" aria-haspopup="false" aria-expanded="false">Rate Management <span
                        class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="#">Rate Master</a></li>
                        <li><a href="#">Lifeline</a></li>
                        <li><a href="#">Senior Citizen</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        role="button" aria-haspopup="false" aria-expanded="false">Add-on Transaction
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="#">Coreloss</a></li>
                        <li><a href="#">Add-on Charges</a></li>
                        <li><a href="#">Add-on Kwh</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        role="button" aria-haspopup="false" aria-expanded="false">Reports
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="#">Bills Report</a></li>
                    </ul>
                </li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>