<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" type="text/css"
      media="screen"/>
<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" href="../../css/dataTables.bootstrap.min.css"
      type="text/css" media="screen"/>
<link rel="stylesheet" th:href="@{/css/responsive.bootstrap.min.css}" href="../../css/responsive.bootstrap.min.css"
      type="text/css" media="screen"/>
<link rel="stylesheet" th:href="@{/css/starter-template.css}" href="../../css/starter-template.css" type="text/css"
      media="screen"/>
<link rel="stylesheet" th:href="@{/css/sticky-footer-navbar.css}" href="../../css/sticky-footer-navbar.css"
      type="text/css" media="screen"/>
