<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>DU Properties</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Locality - Edit </strong></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div th:if="${save eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Record Not Updated.
                                    </div>
                                </div>
                                <div th:if="${save eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Record Updated Successfully.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form class="form-horizontal" method="post" th:object="${locality}"
                                      th:action="@{/du-area/__${area.id}__/locality/update}"
                                      role="form" name="properties_form"
                                      id="properties_form">

                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="hidden" class="form-control" id="inputId"
                                                   name="inputId"
                                                   th:field="*{id}"/>
                                            <input type="hidden" class="form-control"
                                                   th:value="${area.id}" id="idArea" name="idArea" placeholder="Id Area"
                                            />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="areaCode" class="col-sm-2 control-label">Area Code</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   th:field="*{areaCode}"
                                                   id="areaCode" placeholder="Area Code"
                                                   readonly="readonly" th:maxlength="4" th:required="required" th:title="'4 characters maximum'"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="localityCode" class="col-sm-2 control-label">Locality Code</label>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <input type="text" class="form-control" id="localityCode"
                                                   th:field="*{localityCode}"
                                                   placeholder="Locality Code" th:maxlength="4" th:required="required" th:title="'4 characters maximum'"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="locality" class="col-sm-2 control-label">Locality</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="locality"
                                                   th:field="*{sLocality}"
                                                   placeholder="Locality"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-success">Update</button>
                                            <a href="/du-area" class="btn btn-primary pull-right">Back</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>