<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Senior Citizen</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading text-center panel-relative">
                        <strong>Senior Citizen - (</strong>
                        <strong th:text="${countOfSenior} + ' out of '"></strong>
                        <strong th:text="${countOfId} + ' )'"></strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-11"> <!-- Save Alert Messages -->
                                <div th:if="${save eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> <i>Record Not Saved.</i>
                                    </div>
                                    <br/>
                                </div>
                                <div th:if="${save eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> <i>Record Saved Successfully</i>.
                                    </div>
                                </div>
                                <!-- Deletion Alert Messages -->
                                <div th:if="${delete eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Record Not Deleted.
                                    </div>
                                </div>
                                <div th:if="${delete eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Record Deleted Successfully.
                                    </div>
                                </div>
                                <!-- Edit Alert Message -->
                                <div th:if="${status eq 'notfound'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Invalid Record.
                                    </div>
                                </div>
                                <div th:if="${edit eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Record Not Edited.
                                    </div>
                                </div>
                                <div th:if="${edit eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Record Updated Successfully.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="!${#lists.isEmpty(seniorCitizenLists)}">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form class="form-horizontal" method="get" th:object="${seniorCitizenLists}"
                                      id="sc_form">

                                    <div th:each="seniorCitizenList : ${seniorCitizenLists}">
                                        <div class="form-group">
                                            <div>
                                                <label class="col-sm-3 control-label"
                                                       for="id"
                                                       th:text="${#strings.replace(seniorCitizenList.propertyName, '_', ' ').replace('SC ', '')}"></label>
                                            </div>

                                            <div class="col-sm-9">
                                                <input type="hidden" class="form-control" id="id"
                                                       th:value="${seniorCitizenList.id}"/>

                                                <input type="text" class="form-control" id="propertyValue"
                                                       name="propertyValue"
                                                       th:value="${seniorCitizenList.propertyValue}"
                                                       readonly="readonly"/> <!--th:name="|properties[${stat.index}].propertyValue|"-->
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group pull-right">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary pull-right" th:href="@{/seniorcitizen/edit}"
                                               role="button">Edit</a>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>

                        <div th:if="${#lists.isEmpty(seniorCitizenLists)}"
                             class="text-center alert alert-danger alert-dismissible" role="alert">
                            <strong>No Record Found</strong>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>