<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Fixed Charge Template</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading text-center panel-relative">
                        <a th:href="@{/fixedchargetemplate}"><i
                                class="glyphicon glyphicon-arrow-left pull-left blue"></i></a>
                        <strong>Fixed Charge Template - Add</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form class="form-horizontal" th:object="${fixedChargeTemplateLists}"
                                      th:action="@{/fixedchargetemplate/create}"
                                      method="post">

                                    <div class="form-group">
                                        <label for="printOrder" class="col-sm-4 control-label">Print Order</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <div th:with="result=${printOrder + 1}">
                                                <input type="text" class="form-control"
                                                       th:value="${result}"
                                                       id="printOrder" name="printOrder"
                                                       placeholder="Print Order" readonly="readonly"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fixChargeName" class="col-sm-4 control-label">Fix Charge
                                            Name</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" th:field="*{fixChargeName}"
                                                   id="fixChargeName" name="fixChargeName"
                                                   placeholder="Fix Charge Name"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fixChargeLongName" class="col-sm-4 control-label">Fix Charge Long
                                            Name</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control" th:field="*{fixChargeLongName}"
                                                   id="fixChargeLongName" name="fixChargeLongName"
                                                   placeholder="Fix Charge Long Name"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="amount" class="col-sm-4 control-label">Amnout</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control text-right" th:field="*{amount}"
                                                   id="amount" name="amount"
                                                   placeholder="0.0000" readonly="readonly"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vatRate" class="col-sm-4 control-label">Vat Rate</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control text-right" th:field="*{vatRate}"
                                                   id="vatRate" name="vatRate"
                                                   placeholder="0.00"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vatAmt" class="col-sm-4 control-label">Vat Amount</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control text-right" th:field="*{vatAmt}"
                                                   id="vatAmt" name="vatAmt"
                                                   placeholder="0.0000" readonly="readonly"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="totalAmount" class="col-sm-4 control-label">Total Amount</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <input type="text" class="form-control text-right" th:field="*{totalAmount}"
                                                   id="totalAmount"
                                                   placeholder="0.0000"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="isSubToVat"
                                               class="col-sm-4 control-label">Sub to Vat</label>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <select class="form-control" th:field="*{isSubToVat}" id="isSubToVat">
                                                <option th:value="'Y'">Yes</option>
                                                <option th:value="'N'">No</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success pull-right">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>