<div th:fragment="footer" id="footer" class="navbar-fixed-bottom" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <p class="text-muted">&copy;<script>var date = new Date();
        document.write(date.getFullYear() + " ")</script>
            - Xen Energy Systems, Inc. All rights reserved.
            <br/>Suite 410 Cityland Pasong Tamo Tower 2210 Don Chino Roces Avenue, Pio del Pilar, Makati City,
            Philippines
            <br/> +632 813.4668 | +632 836.7934 | +632 856.4984 <br/> Email: xesi@xenenergy.com.ph<br/><br/>
        </p>
    </div>
</div>