<div th:fragment="footer" id="footer" class="navbar-fixed-bottom" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="content-footer">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <p>&copy;<script>var date = new Date();
                document.write(date.getFullYear() + " ")</script>
                    - Xen Energy Systems, Inc. All rights reserved. Release Date.
                    <script>var date = new Date();
                    document.write(date.getFullYear() + "-06-19")</script>
                    <br/>Suite 410 Cityland Pasong Tamo Tower 2210 Don Chino Roces Avenue, Pio del Pilar, Makati City,
                    Philippines
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                <strong>Phone: </strong> +632 813.4668 | +632 836.7934 | +632 856.4984
                <br/><strong>Email: </strong> xesi@xenenergy.com.ph<br/><br/>
            </div>
        </div>
    </div>
</div>