<div th:fragment="navigator">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img style="max-width:180px; margin-top: -9px;" class=""
                                                            th:src="@{/images/xen_logo.png}"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="false" aria-expanded="false">Masterlist Management <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu  dropdown-menu-left">
                            <li><a th:href="@{/rdm}">Routes</a></li>
                            <li><a th:href="@{/accounts}">Accounts</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/du-area}">Area</a></li>
                            <li><a th:href="@{/cut-off}">Cut-off</a></li>
                            <li><a th:href="@{/activation-code}">Device</a></li>
                            <li><a th:href="@{/readers}">Meter Readers</a></li>
                            <li><a th:href="@{/properties}">Properties</a></li>
                            <li><a th:href="@{/remarks}">Remarks</a></li>
                            <!--<li role="separator" class="divider"></li>
                           <li class="dropdown-header">Accounts</li>-->
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="false" aria-expanded="false">Rate Management
                        <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a th:href="@{/ratemaster}">Rate Master</a></li>
                            <li><a th:href="@{/lifeline}">Lifeline</a></li>
                            <li><a th:href="@{/seniorcitizen}">Senior Citizen</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/perkwchargetemplate}">Per KW Charge Template</a></li>
                            <li><a th:href="@{/fixedchargetemplate}">Fixed Charge Template</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="false" aria-expanded="false">Uploaded
                        Transaction
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a th:href="@{/coreloss}">Coreloss</a></li>
                            <li><a th:href="@{/addoncharge}">Add-on Charges</a></li>
                            <li><a th:href="@{/addonchargespecial}">Add-on Charges Special</a></li>
                            <li><a th:href="@{/addonkwh}">Add-on Kwh</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/devicemaster}">Bills</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="false" aria-expanded="false">Reports
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a th:href="@{/bills}">Bills Report</a></li>
                            <li><a th:href="@{/reports}">Billing Statement</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/dbeventmonitor}">DB Event Monitor</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${caller} == 'live'">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="false" aria-expanded="false">
                            <img style="max-height:25px; margin-top: -5px;" class="" th:src="@{/ext/logo.png}"/>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="#" data-target="#logout" data-toggle="modal">Logout</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${caller} != 'live'">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="false" aria-expanded="false">
                            <img style="max-height:25px; margin-top: -5px;" class="" th:src="@{/ext/logo.png}"/>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="#" data-target="#logout" data-toggle="modal">Logout</a></li>
                            <li class="divider"></li>
                            <li><a href="/Kuryentxt/about">About</a></li>
                            <li><a href="/Kuryentxt/settings">Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>