<head th:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/jquery-ui.min.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" href="../../css/dataTables.bootstrap.min.css"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/responsive.bootstrap.min.css}" href="../../css/responsive.bootstrap.min.css"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/starter-template.css}" href="../../css/starter-template.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" th:href="@{/css/sticky-footer-navbar.css}" href="../../css/sticky-footer-navbar.css"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/smoothness-jquery-ui.min.css}" href="../../css/smoothness-jquery-ui.min.css"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
          type="text/css" media="screen"/>
</head>