<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Fixed Charge Detail</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading text-center panel-relative">
                        <a th:href="@{/ratemaster/__${fixedCharge.idRateMaster}__/fixedcharge/__${fixedCharge.id}__/fixedchargedetail}"><i
                                class="glyphicon glyphicon-arrow-left pull-left blue"></i></a>
                        <strong>Fixed Charged Detail - Edit</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div th:if="${save eq 'unsuccess'}">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <strong>Error!</strong> Record Not Updated.
                                    </div>
                                </div>
                                <div th:if="${save eq 'success'}">
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <strong>Success!</strong> Record Updated Successfully.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form class="form-horizontal" method="post" th:object="${fixedChargeDetail}"
                                      th:action="@{/ratemaster/__${fixedCharge.idRateMaster}__/fixedcharge/__${fixedCharge.id}__/fixedchargedetail/update}"
                                      role="form" name="properties_form"
                                      id="properties_form">

                                    <input type="hidden" class="form-control"
                                           th:value="${fixedChargeDetail.id}" id="id" name="id"
                                    />

                                    <input type="hidden" class="form-control"
                                           th:value="${fixedCharge.id}" id="idMaster" name="idMaster"
                                    />

                                    <div class="form-group">
                                        <label for="fixChargeName" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Fixed Charge Name</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <input type="text" class="form-control" id="fixChargeName"
                                                   th:field="*{fixChargeName}"
                                                   placeholder="Fixed Charge Name"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="printOrder" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Print Order</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <input type="text" class="form-control" id="printOrder"
                                                   th:field="*{printOrder}"
                                                   placeholder="Print Order"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Amount</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <input type="text" class="form-control text-right" id="amount"
                                                   th:field="*{amount}"
                                                   placeholder="Amount" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="vatRate" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Vat Rate</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <input type="text" class="form-control text-right" id="vatRate"
                                                   th:field="*{vatRate}"
                                                   placeholder="Vat Rate" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="vatAmt" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Vat Amount</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <input type="text" class="form-control text-right" id="vatAmt"
                                                   th:field="*{vatAmt}"
                                                   placeholder="Vat Amount" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="totalAmount" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Total Amount</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <input type="text" class="form-control text-right" id="totalAmount"
                                                   th:field="*{totalAmount}"
                                                   placeholder="Vat Amount"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="scDiscountRate" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">SC Discount</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <input type="text" class="form-control text-right" id="scDiscountRate"
                                                   th:field="*{scDiscountRate}"
                                                   placeholder="SC Discount" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="isSubToVat" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Is Sub To Vat</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <select class="form-control" th:field="*{isSubToVat}" id="isSubToVat">
                                                <option th:value="'Y'">Yes</option>
                                                <option th:value="'N'">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="isSubToLiftime" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Is Sub To Lifeline</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <select class="form-control" th:field="*{isSubToLiftime}" id="isSubToLiftime">
                                                <option th:value="'Y'">Yes</option>
                                                <option th:value="'N'">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="isSubToScDiscount" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Is Sub To SC Discount</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <select class="form-control" th:field="*{isSubToScDiscount}" id="isSubToScDiscount">
                                                <option th:value="'Y'">Yes</option>
                                                <option th:value="'N'">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="isRoundedOff" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Is Rounded Off</label>
                                        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
                                            <select class="form-control" th:field="*{isRoundedOff}" id="isRoundedOff">
                                                <option th:value="'Y'">Yes</option>
                                                <option th:value="'N'">No</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success pull-right">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>