<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Coreloss</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <div class="panel panel-default">
                    <div class="panel-heading text-center panel-relative">
                        <a th:href="@{/}"><i
                                class="glyphicon glyphicon-home pull-left blue"></i></a>
                        <strong>Coreloss </strong>
                    </div>
                    <div class="panel-body">
                        <table id="corelossTable"
                               class="table table-striped table-bordered dt-responsive nowrap display"
                               cellspacing="0" width="100%">
                            <thead>
                            <tr class="info">
                                <th>Service Period End</th>
                                <th>Account No</th>
                                <th>Coreloss KWH</th>
                                <th>Coreloss Limit KWH</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>